@import url(https://fonts.googleapis.com/css?family=Arima+Madurai:300);

* {
  box-sizing: border-box;
  font-weight: bold;
}

body {
  background-color: #f5f5f5;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
  color: #444;
  font-family: 'Arima Madurai', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;

  --accent-color: #3498db;
}

h1 {
  color: var(--accent-color);
  font-size: 10rem;
  text-align: center;
  opacity: 0.8;
  text-transform: uppercase;
}

form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;
}

.input {
  border: none;
  color: #444;
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
}

.input::placeholder {
  color: #d5d5d5;
}

.input:focus {
  outline-color: var(--accent-color);
}

.todos {
  background-color: #fff;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.todos li {
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.todos li.completed {
  color: #b6b6b6;
  text-decoration: line-through;
}

small {
  color: black;
  margin-top: 3rem;
  text-align: center;
}