@import url(https://fonts.googleapis.com/css?family=Arima+Madurai:300);

*,
::after,
::before{
    box-sizing: border-box;
}

h1{
    font-family: 'Arima Madurai', cursive;
    color: #000;
    font-size: 4rem;
    letter-spacing: -3px;
    text-shadow: 0 1px 1px rgba(255,255,255,.6);
    position: relative;
    z-index: 3;
}

.container{
    z-index: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("bg-cover.jfif") fixed;
    background-size: cover;
    height: 100vh;
}

.bird{
    background: url("birds.svg");
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    will-change: background-position;
    animation-name: fly-cycle;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
}

.bird-one{
    animation-duration: 1s;
    animation-delay: -.5s;
}

.bird-two{
    animation-duration: .9s;
    animation-delay: -.75s;
}

.bird-three{
    animation-duration: 1.25s;
    animation-delay: -.25s;
}

.bird-four{
    animation-duration: 1.1s;
    animation-delay: -.5s;
}

.bird-container{
    position: absolute;
    top: 20%;
    left: -10%;
    transform: scale(0) translateX(-10vw);
    will-change: transform;
    animation-name: fly-right-one;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.bird-container-one{
    animation-duration: 15s;
    animation-delay: 0;
}

.bird-container-two{
    animation-duration: 16s;
    animation-delay: 1s;
}

.bird-container-three{
    animation-duration: 14.6s;
    animation-delay: 9.5s;
}

.bird-container-four{
    animation-duration: 16s;
    animation-delay: 10.25s;
}

@keyframes fly-cycle{
    100%{
        background-position: -900px 0;
    }
}

@keyframes fly-right-one{
    0%{
        transform: scale(.3) translateX(-10vw);
    }

    10%{
        transform: translate(10vw, 2vh) scale(.4);
    }

    20%{
        transform: translate(30vw, 0) scale(.5);
    }

    30%{
        transform: translate(50vw, 4vh) scale(.6);
    }

    40%{
        transform: translate(70vw, 2vh) scale(.6);
    }

    50%{
        transform: translate(90vw,0) scale(.6);
    }

    60%{
        transform: translate(110vw, 0) scale(.6);
    }

    100%{
        transform: translate(110vw, 0) scale(.6);
    }
}